# Creating Pandas DataFrames

**Pandas DataFrames** are two-dimensional data structures with labeled rows and columns, that can hold many data types. If you are familiar with Excel, you can think of Pandas DataFrames as being similar to a spreadsheet. We can create Pandas DataFrames manually or by loading data from a file.<br> In these lessons we will start by learning how to create Pandas DataFrames manually from dictionaries and later we will see how we can load data into a DataFrame from a data file.
We will start by creating a DataFrame manually from a dictionary of Pandas Series.<br> In this case the first step is to create the dictionary of Pandas Series. After the dictionary is created we can then pass the dictionary to the **pd.DataFrame()** function.
We will create a dictionary that contains items purchased by two people, **Alice** and **Bob**, on an online store. The Pandas Series will use the price of the items purchased as data, and the purchased items will be used as the index labels to the Pandas Series. Let's see how this done in code:

In [1]:
# We import Pandas as pd into Python
import pandas as pd

# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))
items

<class 'dict'>

{'Alice': book        40
 glasses    110
 bike       500
 pants       45
 dtype: int64, 'Bob': bike     245
 pants     25
 watch     55
 dtype: int64}

In [3]:
pd.DataFrame(items)

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

Now that we have a dictionary, we are ready to create a DataFrame by passing it to the **pd.DataFrame()** function.<br> We will create a DataFrame that could represent the shopping carts of various users, in this case we have only two users, Alice and Bob.

In [2]:
# We create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

# We display the DataFrame
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

There are several things to notice here that are worth pointing out. We see that DataFrames are displayed in tabular form, much like an Excel spreadsheet, with the labels of rows and columns in bold. Also notice that the row labels of the DataFrame are built from the union of the index labels of the two Pandas Series we used to construct the dictionary. And the column labels of the DataFrame are taken from the keys of the dictionary.<br> Another thing to notice is that the columns are arranged alphabetically and not in the order given in the dictionary. We will see later that this won't happen when we load data into a DataFrame from a data file. The last thing we want to point out is that we see some **NaN** values appear in the DataFrame. NaN stands for Not a Number, and is Pandas way of indicating that it doesn't have a value for that particular row and column index. For example, if we look at the column of Alice, we see that it has **NaN** in the watch index.<br> You can see why this is the case by looking at the dictionary we created at the beginning. We clearly see that the dictionary has no item for Alice labeled watches. So whenever a DataFrame is created, if a particular column doesn't have values for a particular row index, Pandas will put a **NaN** value there. If we were to feed this data into a machine learning algorithm we will have to remove these **NaN** values first. In a later lesson we will learn how to deal with **NaN** values and clean our data. For now, we will leave these values in our DataFrame.<br>
In the above example we created a Pandas DataFrame from a dictionary of Pandas Series that had clearly defined indexes. If we don't provide index labels to the Pandas Series, Pandas will use numerical row indexes when it creates the DataFrame. Let's see an example:

In [4]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

We can see that Pandas indexes the rows of the DataFrame starting from 0, just like NumPy indexes ndarrays.
Now, just like with Pandas Series we can also extract information from DataFrames using attributes.<br> Let's print some information from our **shopping_carts** DataFrame

In [5]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[ 500.  245.]
 [  40.   nan]
 [ 110.   nan]
 [  45.   25.]
 [  nan   55.]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Alice', 'Bob'], dtype='object')

When creating the **shopping_carts** DataFrame we passed the entire dictionary to the **pd.DataFrame()** function. However, there might be cases when you are only interested in a subset of the data.<br> Pandas allows us to select which data we want to put into our DataFrame by means of the keywords **columns** and **index**. Let's see some examples:

In [6]:
# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [7]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

       Alice   Bob
pants     45  25.0
book      40   NaN

In [8]:
# We Create a DataFrame that only has selected items for Alice
alice_sel_shopping_cart = pd.DataFrame(items, index = ['book','glasses', 'bike'], columns = ['Alice'])

# We display alice_sel_shopping_cart
alice_sel_shopping_cart

         Alice
book        40
glasses    110
bike       500

You can also manually create DataFrames from a dictionary of lists (arrays). The procedure is the same as before, we start by creating the dictionary and then passing the dictionary to the **pd.DataFrame()** function. In this case, however, all the lists (arrays) in the dictionary must be of the same length. Let' see an example:

In [9]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data)

# We display the DataFrame
df

   Floats  Integers
0     4.5         1
1     8.2         2
2     9.6         3

Notice that since the **data** dictionary we created doesn't have label indices, Pandas automatically uses numerical row indexes when it creates the DataFrame. We can however, put labels to the row index by using the **index** keyword in the **pd.DataFrame()** function. Let's see an example

In [10]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Floats  Integers
label 1     4.5         1
label 2     8.2         2
label 3     9.6         3

The last method for manually creating Pandas DataFrames that we want to look at, is by using a list of Python dictionaries. The procedure is the same as before, we start by creating the dictionary and then passing the dictionary to the **pd.DataFrame()** function.

In [11]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

Again, notice that since the **items2** dictionary we created doesn't have label indices, Pandas automatically uses numerical row indexes when it creates the DataFrame. As before, we can put labels to the row index by using the **index** keyword in the **pd.DataFrame()** function. Let's assume we are going to use this DataFrame to hold the number of items a particular store has in stock. So, we will label the row indices as **store 1** and **store 2**.

In [12]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10

# Accessing Elements in Pandas DataFrames

We can access elements in Pandas DataFrames in many different ways. In general, we can access rows, columns, or individual elements of the DataFrame by using the row and column labels. We will use the same **store_items** DataFrame created in the previous lesson. Let's see some examples:

In [15]:
# We print the store_items DataFrame
print(store_items)

# We access rows, columns and elements using labels
print()
print('How many bikes are in each store:\n', store_items[['bikes']])
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()
print('What items are in Store 1:\n', store_items.loc[['store 1']])
print()
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10

How many bikes are in each store:
          bikes
store 1     20
store 2     15

How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

What items are in Store 1:
          bikes  glasses  pants  watches
store 1     20      NaN     30       35

How many bikes are in Store 2: 15

It is important to know that when accessing individual elements in a DataFrame, as we did in the last example above, the labels should always be provided with the column label first, i.e. in the form **dataframe[column][row]**. For example, when retrieving the number **bikes** in **store 2**, we first used the column label bikes and then the row label store 2. If you provide the row label first you will get an error.<br>
We can also modify our DataFrames by adding rows or columns. Let's start by learning how to add new columns to our DataFrames. Let's suppose we decided to add **shirts** to the items we have in stock at each store. To do this, we will need to add a new column to our **store_items** DataFrame indicating how many shirts are in each store. Let's do that:

In [17]:
# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['coat'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  glasses  pants  watches  shirts  coat
store 1     20      NaN     30       35      15    15
store 2     15     50.0      5       10       2     2

We can see that when we add a new column, the new column is added at the end of our DataFrame.<br>
We can also add new columns to our DataFrame by using arithmetic operations between other columns in our DataFrame. Let's see an example:

In [18]:
# We make a new column called suits by adding the number of shirts and pants
store_items['suits'] = store_items['pants'] + store_items['shirts']

# We display the modified DataFrame
store_items

         bikes  glasses  pants  watches  shirts  coat  suits
store 1     20      NaN     30       35      15    15     45
store 2     15     50.0      5       10       2     2      7

Suppose now, that you opened a new store and you need to add the number of items in stock of that new store into your DataFrame. We can do this by adding a new row to the store_items Dataframe.<br> To add rows to our DataFrame we first have to create a new Dataframe and then append it to the original DataFrame. Let's see how this works

In [19]:
# We create a dictionary from a list of Python dictionaries that will number of items at the new store
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
new_store

         bikes  glasses  pants  watches
store 3     20        4     30       35

We now add this row to our **store_items** DataFrame by using the **.append()** method.

In [20]:
# We append store 3 to our store_items DataFrame
store_items = store_items.append(new_store)

# We display the modified DataFrame
store_items

         bikes  coat  glasses  pants  shirts  suits  watches
store 1     20  15.0      NaN     30    15.0   45.0       35
store 2     15   2.0     50.0      5     2.0    7.0       10
store 3     20   NaN      4.0     30     NaN    NaN       35

Notice that by appending a new row to the DataFrame, the columns have been put in alphabetical order.
We can also add new columns of our DataFrame by using only data from particular rows in particular columns. For example, suppose that you want to stock stores 2 and 3 with **new watches** and you want the quantity of the **new watches** to be the same as the watches already in stock for those stores. Let's see how we can do this

In [26]:
# We add a new column using data from particular rows in the watches column
store_items['new watches'] = store_items['watches'][1:] + 5

# We display the modified DataFrame
store_items

         bikes  coat  glasses  pants  shirts  suits  watches  new watches
store 1     20  15.0      NaN     30    15.0   45.0       35          NaN
store 2     15   2.0     50.0      5     2.0    7.0       10         15.0
store 3     20   NaN      4.0     30     NaN    NaN       35         40.0

It is also possible, to insert new columns into the DataFrames anywhere we want. The *dataframe.insert(loc,label,data)* method allows us to insert a new column in the dataframe at location **loc**, with the given column **label**, and given **data**. Let's add new column named **shoes** right before the **suits** column. Since suits has numerical index value 4 then we will use this value as **loc**. Let's see how this works:

In [27]:
# We insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4, 'shoes', [8,5,0])

# we display the modified DataFrame
store_items

,bikes,coat,glasses,pants,shoes,shirts,suits,watches,new watches
store 1,20,15.0,NaN,30,8,15.0,45.0,35,NaN
store 2,15,2.0,50.0,5,5,2.0,7.0,10,15.0
store 3,20,NaN,4.0,30,0,NaN,NaN,35,40.0

Just as we can add rows and columns we can also delete them. To delete rows and columns from our DataFrame we will use the **.pop()** and **.drop()** methods. The **.pop()** method only allows us to delete columns, while the **.drop()** method can be used to delete both rows and columns by use of the **axis** keyword. Let's see some examples

In [28]:
# We remove the new watches column
store_items.pop('new watches')

# we display the modified DataFrame
store_items

         bikes  coat  glasses  pants  shoes  shirts  suits  watches
store 1     20  15.0      NaN     30      8    15.0   45.0       35
store 2     15   2.0     50.0      5      5     2.0    7.0       10
store 3     20   NaN      4.0     30      0     NaN    NaN       35

In [29]:
# We remove the watches and shoes columns
store_items = store_items.drop(['watches', 'shoes'], axis = 1)

# we display the modified DataFrame
store_items

         bikes  coat  glasses  pants  shirts  suits
store 1     20  15.0      NaN     30    15.0   45.0
store 2     15   2.0     50.0      5     2.0    7.0
store 3     20   NaN      4.0     30     NaN    NaN

In [30]:
# We remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
store_items

         bikes  coat  glasses  pants  shirts  suits
store 3     20   NaN      4.0     30     NaN    NaN

Sometimes we might need to change the row and column labels. Let's change the **bikes** column label to **hats** using the **.rename()** method

In [31]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

         hats  coat  glasses  pants  shirts  suits
store 3    20   NaN      4.0     30     NaN    NaN

Now let's change the row label using the **.rename()** method again.

In [32]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            hats  coat  glasses  pants  shirts  suits
last store    20   NaN      4.0     30     NaN    NaN

You can also change the index to be one of the columns in the DataFrame.

In [33]:
# We change the row index to be the data in the pants column
store_items = store_items.set_index('pants')

# we display the modified DataFrame
store_items

       hats  coat  glasses  shirts  suits
pants
30       20   NaN      4.0     NaN    NaN